---
import { Image } from "astro:assets";
import pfp from "../assets/pfp.jpg";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<nav
    class="fixed top-0 left-0 w-[200px] h-screen bg-[#eff1f5] dark:bg-[#1e1e2e] text-[#4c4f69] dark:text-[#cdd6f4] font-bold flex-col items-center pt-8 shadow-md hidden md:flex overflow-y-scroll"
>
    <!-- PROFILE IMAGE CIRCLE -->
    <div class="flex items-center justify-center mb-6">
        <div
            class="w-24 h-24 rounded-full overflow-hidden border-4 border-[#4c4f69] dark:border-[#cdd6f4]"
        >
            <Image
                src={pfp}
                alt="Profile Picture"
                class="object-cover w-full h-full hover:scale-105 transition-transform duration-300"
            />
        </div>
    </div>

    <!-- NAVIGATION LINKS -->
    <a
        href="#home"
        class="text-[#4c4f69] dark:text-[#cdd6f4] no-underline my-4 text-lg hover:text-[#8839ef] dark:hover:text-[#8839ef]"
        >Home</a
    >
    <a
        href="#about"
        class="text-[#4c4f69] dark:text-[#cdd6f4] no-underline my-4 text-lg hover:text-[#8839ef] dark:hover:text-[#8839ef]"
        >About</a
    >
    <a
        href="#skills"
        class="text-[#4c4f69] dark:text-[#cdd6f4] no-underline my-4 text-lg hover:text-[#8839ef] dark:hover:text-[#8839ef]"
        >Skills</a
    >
    <a
        href="#projects"
        class="text-[#4c4f69] dark:text-[#cdd6f4] no-underline my-4 text-lg hover:text-[#8839ef] dark:hover:text-[#8839ef]"
        >Projects</a
    >

    <!-- THEME TOGGLE BUTTON -->
    <div class="mt-auto mb-8">
        <ThemeToggle />
    </div>

    <!-- FOOTER -->
    <div class="text-sm text-center mb-2">
        Made with ❤️ and <a href="https://astro.build/" class="underline"
            >astro</a
        >
    </div>
</nav>
