---
import VerticalNav from "../components/VerticalNav.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kyle Curtis: Developer Portfolio</title>
        <link rel="icon" href="/favicon.svg" type="image/x-icon" />
        <style is:global>
            html {
                scroll-behavior: smooth;
            }
            body {
                margin: 0;
                width: 100%;
                background-size: 42px 42px;
            }
            body {
                background-image: linear-gradient(
                        to right,
                        #e0e4ed 2px,
                        transparent 1px
                    ),
                    linear-gradient(to bottom, #e0e4ed 2px, transparent 1px);
            }
            .dark body {
                background-image: linear-gradient(
                        to right,
                        #14141e 2px,
                        transparent 1px
                    ),
                    linear-gradient(to bottom, #14141e 2px, transparent 1px);
            }
            nav {
                scrollbar-width: none;
            }
        </style>
    </head>

    <body
        class="relative text-[#4c4f69] dark:text-[#cdd6f4] bg-[#dce0e8] dark:bg-[#11111b]"
    >
        <VerticalNav />
        <main
            class="w-full md:ml-[200px] md:w-[calc(100%-200px)] mt-[60px] md:mt-0 relative border-0"
        >
            <div class="md:w-[90%] m-auto">
                <slot />
            </div>
        </main>
    </body>
</html>
